Dockerfile
.dockerignore
npm-debug.log
node_modules
dist# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore